<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IToolS" version="3.3.0.16" targetFramework="net40" />
  <package id="IToolS.Components" version="3.3.0.16" targetFramework="net40" />
  <package id="IToolS.Modbus" version="3.3.0.18" targetFramework="net40" />
  <package id="IToolS.Server" version="3.3.0.16" targetFramework="net40" />
  <package id="IToolS.Siemens" version="3.3.0.20" targetFramework="net40" />
  <package id="IToolS.Sql" version="3.3.0.16" targetFramework="net40" />
  <package id="IToolS.Windows" version="3.3.0.16" targetFramework="net40" />
</packages>